[Unit]
Description=Dispatch IRC client
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStart=__FINALPATH__/dispatch
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
